.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

.contact-container h1 {
  color: #258eeb;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-container input,
.contact-container textarea {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container textarea {
  height: 100px;
  resize: vertical;
}

.send-button {
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  width: 50%;
  text-align: center;
}

.send-button:hover {
  background-color: #0056b3;
}
