.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

h3 {
  color: #0057A2;
}

.logo {
  width: 50px;
  border-radius: 50%;
  height: auto;
}

.navigationList {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.navigationItem {
  display: inline;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}


main {
  padding: 20px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 100px;
  padding: 0 50px;
  justify-content: space-around;
}

button {
  background-color: #0057A2;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
  width: 30%;
}

button:hover {
  background-color: #258eeb;
}