.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(162, 192, 218, 0.8);
}

.heading-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

h3 {
  color: #1578cf;
}

.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.navigation-item a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.navigation-item a:hover {
    color: #0057a2;
  }

.logo {
  width: 50px;
  border-radius: 50%;
  height: auto;
}
