################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fdiba-alumni/backend/fdiba-alumni/.vs/fdiba-alumni

### VS Code ###
.vscode/

### Node modules ###
node_modules/node_modules/
