.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dashboard-header {
  background-color: rgba(255, 255, 255, 0.75);
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.dashboard-nav ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-nav ul li {
  display: inline;
  margin-right: 10px;
}

.dashboard-nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.dashboard-sections {
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.dashboard-section {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 5px;
  width: 45%;
  margin-top: 20px;
}

.dashboard-section h2 {
  margin-top: 0;
}

.dashboard-section ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-section ul li a {
  text-decoration: none;
  color: #007bff;
  display: block;
  margin-bottom: 10px;
}

.dashboard-section ul li a:hover {
  text-decoration: underline;
}

.custom-carousel .p-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.custom-carousel img {
  max-width: 100%;
}

.custom-carousel
  .p-carousel-indicators
  .p-carousel-indicator.p-highlight
  .p-link {
  background-color: #0057a2;
}
