.contact-page-container {
  max-width: 50%;
  height: 100vh;
  margin: 0 auto;
  padding: 3rem;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-page-container h2 {
  color: #0057a2;
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-page-container h3 {
  color: #007bff;
  font-size: 1.5rem;
  margin-top: 15px;
  text-align: center;
}

.contact-page-container p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.contact-container img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.contact-person-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.contact-person-info p {
  text-align: start;
  font-size: 1.15rem;
}