.home-page-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: 80vh;
  padding: 1rem;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.register-now-button,
.login-button {
  background-color: #1578cf;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2rem 0;
  height: 50px;
  width: 20%;
}

.register-now-button:hover,
.login-button:hover {
  background-color: #258eeb;
}

h1 {
  font-size: 3.5rem;
  margin: 1rem 0;
}

.subheadline {
  font-size: 1.25rem;
  font-weight: bold;
  color: #5f5f5f;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
