.about-us-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

.about-us-container h1 {
  color: #258eeb;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-us-container p {
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.about-us-container h2 {
  color: #0057a2;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-us-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.about-us-container li {
  font-size: 1rem;
  margin-bottom: 10px;
}
